* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../img/background-1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    color: white;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    counter-reset: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    overflow: hidden;
    
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 40px 0;
}
.wrapper .input-box.error small{ 
    color: red; 
    margin: 10px 0 0 15px;
    font-size: 13px;

}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: gray;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius:10px ;
}
.wrapper .icon-close:hover{
    cursor: pointer;
    background-color: darkgrey;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid white;
    border-radius: 30px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: white;
    font-weight: 500;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: grey;
    margin-right: 3px;
    cursor: pointer;
}

.remember-forgot a {
    color: cornflowerblue;
    font-weight: 600;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #333;

}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: cornflowerblue;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.input-box .show-pass a i{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.input-box .show-pass a i:hover{
    color: cornflowerblue;
    font-weight: 600;
}